<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增售后记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-aftersales-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">商机ID，关联到Opportunity表的OpportunityID：</label>
                <div class="col-sm-8">
                    <input name="opportunityId" class="form-control" type="text" required>
                </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="suggest-demo-3">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-white dropdown-toggle" style="height: 31px" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
                        </div>
                        <!-- /btn-group -->
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">售后描述：</label>
                <div class="col-sm-8">
                    <textarea name="afterSalesDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">售后结果：</label>
                <div class="col-sm-8">
                    <input name="afterSalesResult" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="creationTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-suggest-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/aftersales"
        $("#form-aftersales-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-aftersales-add').serialize());
            }
        }

        $("input[name='creationTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });


        var testdataBsSuggest = $("#suggest-demo-3").bsSuggest({
            indexId: 1,
            indexKey: 2,
            data: {
                'value': [
                    {
                        'userId': '1',
                        'userCode': '1000001',
                        'userName': '测试1',
                        'userPhone': '15888888888'
                    },
                    {
                        'userId': '2',
                        'userCode': '1000002',
                        'userName': '测试2',
                        'userPhone': '15888888888'
                    },
                    {
                        'userId': '3',
                        'userCode': '1000003',
                        'userName': '测试3',
                        'userPhone': '15888888888'
                    },
                    {
                        'userId': '4',
                        'userCode': '1000004',
                        'userName': '测试4',
                        'userPhone': '15888888888'
                    },
                    {
                        'userId': '5',
                        'userCode': '1000005',
                        'userName': '测试5',
                        'userPhone': '15888888888'
                    }
                ],
                'defaults': '1'
            }
        });
    </script>
</body>
</html>